.table {width: 50%; height: 50%; padding: 0;}
.row {width: 100%; min-height: 1px; height: auto; margin: 0;}
.cell {float: left; margin: 0; padding: 0;}
.onecol {width: 100%;}
.twocol {width: 50%;}
.threecol {width: 33%;}
.varcol {width: 20%;}
.players-in-game {width:45%; display:inline-block;}
.player-interested {width:45%; height:100%; float: right; display:inline-block}
.payout-table {width:20%;}