{% include "header.html" %}
<h1>{{ player }}</h1>

<ul>
    <img src="http://www.gravatar.com/avatar/{{ player.gravatarId }}"/>

    <li>Total Won: ${{ totalWon }}</li>
    <li>Total Spent: ${{ totalSpent }}</li>
    <li>Total Profit: ${{ totalProfit }}</li>
    <li>Average Profit: ${{ averageProfit }}</li>


    <h1>Results</h1>
    <table class="table table-hover" style="width: auto">
        <thead>
        <td>Game</td>
        <td>Place</td>
        <td>Profit</td>
        <td>PoY Points</td>
        </thead>
    {% for result in results %}
        <tr>
        <td><a href="{{ appLocation }}game/{{ result.game.id }}">{{ result.game }}</a></td>
        <td>{{ result.place }}</td>
        <td>{{ result.profit }}</td>
        <td>{{ result.poyPoints}}</td>
        </tr>
    {% endfor %}
    </table>
</ul>
