{% include "header.html" %}
<script type="text/javascript" src="/static/javascript/signup.js"></script>


<body>
<h1>Signup for {{ game }}</h1>
<table class="table table-hover">
    <thead>
        <td colspan="3">Interest List Sorted by Invite Priority</td>
    </thead>
    {% for interestedPlayer in interestedPlayers %}
        <tr>
            <td>{{ interestedPlayer.player.priorityIndex }}
            <td>{{ interestedPlayer }}</td>
            <td><a href="javascript:unsignup({{ interestedPlayer.id }}, {{ game.id }});">Remove signup</a></td>
        </tr>
    {% endfor %}
</table>

<table class="table table-hover">
    <thead>
        <td colspan="2">UnInterest List</td>
    </thead>
    {% for uninterestedPlayer in uninterestedPlayers %}
        <tr>
            <td>{{ uninterestedPlayer }}</td>
            <td><a href="javascript:signup({{ uninterestedPlayer.id }}, {{ game.id }});">Signup</a></td>
        </tr>
    {% endfor %}
</table>

<table class="table table-hover">
    <thead>
    <td colspan="2">Player</td>
    <td>Interested</td>
    <td>Not Interested</td>
    </thead>
    {% for player in unsignedupPlayers %}
        <tr>
            <td><img src="http://www.gravatar.com/avatar/{{ player.gravatarId }}"/></td>
            <td>{{ player }}</td>
            <td><a href="javascript:signup({{ player.id }}, {{ game.id }});">Interest Link</a></td>
            <td><a href="javascript:unsignup({{ player.id }}, {{ game.id }});">Not Interest Link</a></td>

            

        </tr>
    {% endfor %}
</table>

<form name="signup" id="signup" action="/pokerroom/game/{{ game.id }}/signup" method="POST">
    {% csrf_token %}
    <input type="hidden" id="signup-playerId" name="playerId" value="{{ player.id }}" />

</form>

<form name="signup" id="unsignup" action="/pokerroom/game/{{ game.id }}/unsignup" method="POST">
    {% csrf_token %}
    <input type="hidden" id="unsignup-playerId" name="playerId" value="{{ player.id }}" />

</form>

</body>
</html>