{% include "header.html" %}

<body>
<h1>Seating for {{ game }}</h1>

<table class="table table-hover" >
    <thead>
        <td colspan="4" style="text-align: center">Interest List</td>
    </thead>
    <tbody>
    {% for entry in playerList %}
        <tr>
            <td>{{ entry.seat }} </td>
            <td><img src="http://www.gravatar.com/avatar/{{ player.gravatarId }}" style="height: 32px"/></td>
            <td>{{ entry.player.nickname }} </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>